<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Oops page not found........</title>

    <!-- Primary Meta Tags -->
    <title>The IoT revolution is here.</title>
    <meta name="title" content="The IoT revolution is here.">
    <meta name="robots" content="index, follow">
    <meta name="description"
        content="We make it simple to launch in the IoT cloud and scale up as you grow – with an intuitive dashboard, predictive maintenance, team accounts, and more.">
    <meta content="Consentium Inc, IoT, Edge Computing, MSME, Indian" name="keywords">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://consentiuminc.online/">
    <meta property="og:title" content="The IoT revolution is here.">
    <meta property="og:description"
        content="We make it simple to launch in the IoT cloud and scale up as you grow – with an intuitive dashboard, predictive maintenance, team accounts, and more.">
    <meta property="og:image" content="static/img/home.jpeg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://consentiuminc.online/">
    <meta property="twitter:title" content="The IoT revolution is here.">
    <meta property="twitter:description"
        content="We make it simple to launch in the IoT cloud and scale up as you grow – with an intuitive dashboard, predictive maintenance, team accounts, and more.">
    <meta property="twitter:image" content="static/img/home.jpeg">

    <!-- Favicons -->
    <link href="images/favicon.png" rel="icon">
    <link href="images/favicon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="css/typography.css">
    <!-- Style CSS -->
    <link rel='stylesheet' href='css/Consentiuminc-style.css' />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <div class="load-img">
                <img src="images/loader.gif" alt="loader">
            </div>
        </div>
    </div>
    <!-- loading End -->
    <section class="iq-blog-section" style="padding: 65px  0px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="fourzero-image mb-5">
                        <img src="images/others/03.png" class="img-fluid" alt="404" />
                    </div>

                    <h4> 404 Error</h4>
                    <p class="mb-5">

                        Oops! This Page is Not Found. </p>

                    <div class="d-block">
                        <a class="iq-button" href="/">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.4.1.js"></script>
    <!-- jQuery  for scroll me js -->
    <script src='js/jquery-min.js'></script>
    <!-- popper  -->
    <script src="js/popper.min.js"></script>
    <!--  bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="js/appear.js"></script>

    <!-- Jquery-migrate JavaScript -->
    <script src='js/jquery-migrate.min.js'></script>
    <!-- Scripts JavaScript -->
    <script src='js/scripts.js'></script>
    <!-- countdownTimer JavaScript -->
    <script src='js/jQuery.countdownTimer.min.js'></script>
    <!-- Tox-progress JavaScript -->
    <script src='js/tox-progress.min.js'></script>
    <!-- Timeline JavaScript -->
    <script src='js/timeline.js'></script>
    <!-- Timeline min JavaScript -->
    <script src='js/timeline.min.js'></script>
    <!-- Slick JavaScript -->
    <script src='js/slick.min.js'></script>
    <!-- Popper JavaScript -->
    <script src='js/popper.min.js'></script>
    <!-- Owl.carousel JavaScript -->
    <script src='js/owl.carousel.min.js'></script>
    <!-- Countdown JavaScript -->
    <script src='js/countdown.js'></script>
    <!-- Jquery.countTo JavaScript -->
    <script src='js/jquery.countTo.js'></script>
    <!-- Magnific-popup JavaScript -->
    <script src='js/jquery.magnific-popup.min.js'></script>
    <!-- Isotope.pkgd.min JavaScript -->
    <script src='js/isotope.pkgd.min.js'></script>
    <!-- Wow JavaScript -->
    <script src='js/wow.min.js'></script>
    <!--  Custom JavaScript -->
    <script src="js/custom.js"></script>
</body>

</html>